<div>
  <!-- <div class="title">Journal</div> -->
  <div *ngIf="!loading">
    <form
      autocomplete="off"
      class="mt-2"
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="submit()"
      (keyup.enter)="submit()"
    >
      <div class="col">
        <span class="p-float-label">
          <label>Name</label>
          <input pInputText formControlName="name" />
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Last name</label>
          <input pInputText formControlName="lastname" />
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Email</label>
          <input pInputText type="email" formControlName="email" />
          <p
            *ngIf="form?.get('email')?.invalid && form?.get('email')?.touched"
            style="color: red"
          >
            Email is not valid
          </p>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Phone</label>
          <p-inputMask
            mask="(999) 999-9999"
            placeholder="(999) 999-9999"
            formControlName="phone"
          ></p-inputMask>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>From</label>
          <input pInputText formControlName="from" />
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Semester</label>
          <p-dropdown
            placeholder="Select semester"
            appendTo="body"
            [options]="semesters"
            formControlName="semester"
            optionLabel="label"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Gender</label>
          <p-dropdown
            placeholder="Select gender"
            appendTo="body"
            [options]="genders"
            formControlName="gender"
            optionLabel="label"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Faculty</label>
          <p-dropdown
            placeholder="Select faculty"
            appendTo="body"
            [options]="facultys"
            formControlName="faculty"
            optionLabel="label"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Assessment</label>
          <p-dropdown
            placeholder="Select assessment"
            appendTo="body"
            [options]="assessments"
            formControlName="assessment"
            optionLabel="label"
            optionValue="value"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Education start year</label>
          <p-calendar
            placeholder="Select start year"
            appendTo="body"
            yearRange="2000:2030"
            formControlName="educationStartYear"
            [showButtonBar]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd.mm.yy"
          ></p-calendar>
        </span>
      </div>
      <div class="col mt">
        <span class="p-float-label">
          <label>Education end year</label>
          <p-calendar
            placeholder="Select end year"
            appendTo="body"
            yearRange="2000:2030"
            formControlName="educationEndYear"
            [showButtonBar]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            dateFormat="dd.mm.yy"
          ></p-calendar>
        </span>
      </div>
    </form>
    <div class="end mt">
      <button
        pButton
        pRipple
        [label]="studentId ? 'Update' : 'Create'"
        class="p-button-raised p-button-primary mr-2 end cursor-pointer"
        [loading]="submitted"
        [disabled]="form?.invalid || submitted || !form?.dirty"
        (click)="submit()"
      ></button>
    </div>
  </div>

  <div *ngIf="loading">
    <div class="col" *ngFor="let i of [].constructor(11)">
      <span class="p-float-label">
        <div style="width: 100px">
          <p-skeleton></p-skeleton>
        </div>
        <div class="mt mb">
          <p-skeleton></p-skeleton>
        </div>
      </span>
    </div>
  </div>
</div>
