<div class="panel">
  <div class="between">
    <div class="title ml mt">Students list</div>
    <p-button class="mr mt" (click)="onOpenJournal()">Add new student</p-button>
  </div>
  <div class="filters">
    <app-filters></app-filters>
  </div>
  <ng-container *ngIf="state$ | async as state">
    <div class="content p-2">
      <table class="items">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>From</th>
            <th>Semester</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Faculty</th>
            <th>Assesment</th>
            <th>Started</th>
            <th>Ended</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody *ngIf="!state.loading && !state.error">
          <tr *ngFor="let item of state.items">
            <td>{{ item.studentName }}</td>
            <td>{{ item.lastname }}</td>
            <td>{{ item.studentFrom }}</td>
            <td>{{ item.semester }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.faculty }}</td>
            <td>{{ item.assessment }}</td>
            <td>{{ item.educationStartYear | dateString : "seconds" }}</td>
            <td>{{ item.educationEndYear | dateString : "seconds" }}</td>
            <td>
              <p-button
                class="p-button-raised ml cursor-pointer"
                (click)="onOpenJournal(item.id)"
              >
                Journal
              </p-button>
            </td>
            <td>
              <p-button
                [style]="{ 'background-color': 'red' }"
                class="p-button-raised ml cursor-pointer"
                (click)="onDeleteStudentConfirmation(item.id)"
              >
                Delete
              </p-button>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="state?.loading">
          <tr *ngFor="let i of [].constructor(7)">
            <td *ngFor="let i of [].constructor(13)">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </tbody>

        <tbody
          *ngIf="!state?.loading && !state?.items?.length && !state?.error"
        >
          <tr>
            <td colspan="13">
              <div class="text-center p-6 fw-500">List is empty</div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!state?.loading && state?.error">
          <tr>
            <td colspan="13">
              <div class="text-center p-6 fw-500">
                {{ state.error }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p-paginator
        [rows]="rows"
        [first]="((state?.page ?? 0) - 1) * rows"
        [totalRecords]="state?.total ?? 0"
        [rowsPerPageOptions]="[10]"
        [showCurrentPageReport]="true"
        (onPageChange)="paginate($event)"
      ></p-paginator>
      <!-- <app-paginator [state]="state" [action]="action"></app-paginator> -->
    </div>
  </ng-container>
</div>
